<section class="p-6 mx-auto max-w-4xl">
  {{> go-back}}
  <h1 class="text-2xl font-semibold text-slate-900">{{endpoint.name}}</h1>
  <div class="mt-4 bg-gray-50 p-4 rounded-md">
    <dl>
      <div class="mb-4">
        <dt class="text-sm font-medium text-slate-500">Method</dt>
        <dd class="mt-1 text-sm text-slate-900 {{methodColor}} px-2 py-1 rounded-md text-xs font-medium inline-block">
          {{endpoint.method}}
        </dd>
      </div>
      <div class="mb-4">
        <dt class="text-sm font-medium text-slate-500">Status</dt>
        <dd class="mt-1 text-sm text-slate-900">{{endpoint.status}}</dd>
      </div>
      <div class="mb-4">
        <dt class="text-sm font-medium text-slate-500">Path</dt>
        <dd class="mt-1 text-sm text-slate-900 font-mono">{{endpoint.path}}</dd>
      </div>
      <div class="mb-4">
        <dt class="text-sm font-medium text-slate-500">Request Body</dt>
        <dd class="mt-1 text-sm text-slate-900">
          <pre class="bg-gray-100 p-2 rounded-md overflow-x-auto"><code>{{#if endpoint.body}}{{endpoint.body}}{{else}}No body defined{{/if}}</code></pre>
        </dd>
      </div>
      <div>
        <dt class="text-sm font-medium text-slate-500">Active</dt>
        <dd class="mt-1 text-sm text-slate-900">{{#if endpoint.active}}Yes{{else}}No{{/if}}</dd>
      </div>
      {{#if endpoint.headers}}
        <div class="mt-4">
          <dt class="text-sm font-medium text-slate-500">Headers</dt>
          <dd class="mt-1 text-sm text-slate-900">
            <pre class="bg-gray-100 p-2 rounded-md overflow-x-auto"><code>{{endpoint.headers}}</code></pre>
          </dd>
        </div>
      {{/if}}
    </dl>
  </div>
  <a href="/endpoints/{{endpoint.id}}/edit" class="mt-4 space-x-1 inline-flex items-center text-blue-600 hover:underline">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5" aria-hidden>
      <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
      <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
    </svg>
    <span>Edit Endpoint</span>
  </a>
</section>
